@model CashierUpdateRequest

@{
    ViewData["Title"] = "Edit Cashier";
}


<form method="post" asp-action="Edit" asp-controller="Cashier" class="p-4 shadow-sm border rounded">
    <h2 class="mb-4 text-dark">Edit Cashier</h2>

    <div class="mb-3">
        @Html.LabelFor(c => c.Id, new { @class = "form-label" })
        @Html.TextBoxFor(c => c.Id, new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(c => c.Name, new { @class = "form-label" })
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control", @placeholder = "Enter Cashier Name" })
        @Html.ValidationMessageFor(c => c.Name, "", new { @class = "text-danger" })
    </div>
    <div class="mb-1">
        <button type="submit" class="btn btn-primary mt-3 w-100" style="background-color: #ff5722; color: white">Update Cashier</button>
    </div>

    @if (ViewBag.Errors is not null)
    {
        <div class="text-red ml">
            <ul>
                @foreach (string error in ViewBag.Errors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }
</form>

