@model CashierViewModel

@{
   ViewData["Title"] = "Cashier"; 
} 

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>

<form method="post" asp-action="Index" asp-controller="Cashier" enctype="multipart/form-data" class="p-4 shadow-sm border rounded mb-5">
    <h1 class="text-dark mb-4">Search Cashier</h1>
    <div class="form-group pb-3">
        @Html.LabelFor(c => c.SearchCriteria.Id, new { @class = "form-label" })
        @Html.TextBoxFor(c => c.SearchCriteria.Id, new { @class = "form-control", @placeholder = "Enter Cashier ID" })
     </div>

    <div class="form-group pb-3">
        @Html.LabelFor(c => c.SearchCriteria.Name, new { @class = "form-label" })
        @Html.TextBoxFor(c => c.SearchCriteria.Name, new { @class = "form-control", @placeholder = "Enter Cashier Name" })
    </div>

    <button type="submit" class="btn mt-3 btn mainbtn sumbit">Search</button>
    <a type="button" asp-controller="Cashier" asp-action="Index" class="btn btn mt-3 reset-btn">Reset</a>
</form>


<div class="header-container">
    <h3 class="text-dark mb-4">Cashier List</h3>
    <a asp-controller="Cashier" asp-action="Create">
        <i class='bx bx-plus'></i>
        Add Cashier
    </a>
</div>



<table class="task-table">
    <tr>
        <th>Cashier Name</th>
        <th></th>
    </tr>
    @foreach (var cashier in Model.Cashiers)
    {
        <tr>
            <td>@Html.Encode(cashier.Id)</td>
            <td>@Html.Encode(cashier.Name)</td>
            <td>
                <div class="dropdown">
                    <button class="dropdown-button">⋮</button>
                    <div class="dropdown-content">
                        @Html.ActionLink("Edit", "Edit", new { id = cashier.Id })
                        @Html.ActionLink("Details", "Details", new { id = cashier.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = cashier.Id })
                    </div>
                 </div> 
             </td> 
         </tr>
     }
</table>

 
