@model Ehsan.CSMS.Dtos.ProductDto

@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<form method="post" asp-action="Edit" asp-controller="Order" enctype="multipart/form-data" class="p-4 shadow-sm border rounded">
    <h2 class="mb-4 text-dark">Details</h2>

    <div class="mb-3">
        @Html.LabelFor(c => c.Id, new { @class = "form-label" })
        @Html.TextBoxFor(c => c.Id, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(c => c.CategoryId, new { @class = "form-label" })
        @Html.TextBoxFor(c => c.Category.CategoryName, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(c => c.ProductName, new { @class = "form-label" })
        @Html.TextBoxFor(c => c.ProductName, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(c => c.ProductPrice, new { @class = "form-label" })
        @Html.TextBoxFor(c => c.ProductPrice, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
    </div>
</form>