    @using Ehsan.CSMS.Web.Models
    @model OrderViewModel
@{
    ViewData["Title"] = "View";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<div class="mb-3">
    <input type="hidden" value="@Model.order.Customer.Id" name="order.CustomerId" />
</div>
<div class="p-4 shadow-sm border rounded">
    @Html.LabelFor(c => c.order.Customer.CustomerName, new { @class = "form-label" })
    @Html.TextBoxFor(c => c.order.Customer.CustomerName, new { @class = "form-control", @placeholder = "Enter Customer Name" })
    @Html.LabelFor(c => c.order.Customer.ContactInfo, new { @class = "form-label" })
    @Html.TextBoxFor(c => c.order.Customer.ContactInfo, new { @class = "form-control", @placeholder = "Mobile Number" })
</div>






