@model OrderAddRequest

@{
    ViewData["Title"] = "Create Order"; 
}

@*styling TomList*@
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <link href="~/css/CreateOrder.css" rel="stylesheet" asp-append-version="true"/>

        <h3 class="mb-4 text-dark">Create Order</h3>
        <form id="cashier-data">
        <div class="p-4 shadow-sm border rounded mb-4">
                @Html.LabelFor(c => c.CashierId)
                @Html.DropDownListFor(c => c.CashierId, 
                    ViewBag.Cashiers as SelectList, 
                    "Select Cashier", 
                    new { @class = "form-control"})
                @Html.ValidationMessageFor(c => c.CashierId, "", new { @class = "text-danger" })
        </div>
        </form>

        <h5 class="mb-4 text-dark">Customer Information</h5>
        <div class="p-4 shadow-sm border rounded mb-4">
            <form id="customer-data">
                @Html.LabelFor(c => c.Customer.MobileNumber, new { @class = "form-label" })
                <div class="row flex">
                    <div class="col-md-10 col-sm-9">
                        @Html.TextBoxFor(c => c.Customer.MobileNumber, new { @class = "form-control", @placeholder = "Check Customer by Mobile Number" })
                    </div>
                    <div class="col-md-2 col-sm-3 checkButton">
                        <button type="button" id="btn" class="btn btn w-100" style="background-color: gray; color: white">Check</button>
                    </div>
                </div>
                    @Html.ValidationMessageFor(c => c.Customer.MobileNumber, "", new { @class = "text-danger" })
            <div id="customerPartialView" class="row">
            </div>
            </form>
        </div>
        
        <h5 class="mb-4 text-dark mt-4">Invoice Item</h5>
         <div class="p-4 shadow-sm border rounded">
            <div class="row mb-3 productsLabels">
                <div class="col">
                    <label for="selectedProducts">Item</label>
                </div>
                <div class="col">
                    <label for="ProductPricePerUnit">Price</label>
                </div>
                <div class="col">
                    <label for="Quantity">Qty</label>
                </div>
                <div class="col">
                    <label for="order_TotalPrice">Total Price</label>
                </div>
                <div class="col">
                </div>
            </div>
             <div id="productRows">
            
             </div>
        
    <div asp-validation-summary="All" class="text-red">
    </div>
         <div class="row mb-3">
             <div class="col">
                 <a id="addItemBtn">
                     <i class='bx bx-plus'></i>
                     Add item 
                 </a> 
             </div>
         </div>
         <div class="row">
             <div class="col text-end">
                 <strong>Total Amount</strong>
             </div>
             <div class="col text-end">
                 <strong id="totalAmountDisplay">0.00SAR</strong>
             </div>
         </div>
        <div class="mb-1">
        <button type="button" id="addOrder" class="btn btn mt-3 w-100" style="background-color: #ff5722; color: white">Save</button>
        </div>

         </div>
    
    @if (ViewBag.Errors is not null)
    {
        <div class="text-red ml">
            <ul>
                @foreach (string error in ViewBag.Errors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }



<style>
    .productsLabels {
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

        .productsLabels .col {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .productsLabels label {
            margin: 0;
            padding: 5px;
            color: #333;
            font-weight: 600;
        }
</style>

@section createOrderScript{
    <script>
        var customerInfoUrl = '@Url.Action("GetCustomerInformationBy", "Customer")';
        var productInfoUrl = '@Url.Action("GetProductInformation", "Product")';
        var productPriceUrl = '@Url.Action("GetProductPrice", "Product")';
        var orderInfoUrl = '@Url.Action("Create", "Order")';
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.0.1/js/tom-select.complete.js"></script>
    <script src="~/js/OrderScripts/CreateOrderSecript.js" asp-append-version="true"></script>
    <script src="~/js/OrderScripts/LoadOrderCustomerDataScript.js" asp-append-version="true"></script>
}

