@model OrderResponse

@{
    ViewData["title"] = "Order Details";
}

<link href="~/css/OrderDetails.css" rel="stylesheet" />
@{
    var status = (int?)Model.OrderStatus;
}
@if (status == 3)
{
    <a asp-controller="Order" asp-action="ShowInvoice" asp-route-id="@Model.Id" class="btn btn mainbtn" style="background-color: #ff5722; color: white">Order Pdf</a>
}
<div class="card p-4 mt-4" style="width: 100%; border-radius: 10px;">
    <h3 class="text-dark p-4 d-flex justify-content-between align-items-start">
        Order #@Model.Id
        @{
            switch (status)
            {
                case 1:
                    <span class="badge rounded-pill bg-info" style="color:white; padding:6px; width: 80px;">@Model.OrderStatus</span>
                    break;
                case 2:
                    <span class="badge rounded-pill bg-primary" style="color:white; padding:6px; width: 90px;">@Model.OrderStatus</span>
                    break;
                case 3:
                    <span class="badge rounded-pill bg-success" style="color:white; padding:6px; width: 80px;">@Model.OrderStatus</span>
                    break;
                case 4:
                    <span class="badge rounded-pill bg-danger" style="color:white; padding:6px; width: 80px;">@Model.OrderStatus</span>
                    break;
                case 5:
                    <span class="badge rounded-pill bg-secondary" style="color:white; padding:6px; width: 80px;">@Model.OrderStatus</span>
                    break;
            }

        }
    </h3>

    <div class="card-body">
        <table>
            <tbody>
                @if(Model.OrderDetailsResponses is not null)
                {
                    @foreach (var orderDetail in Model.OrderDetailsResponses)
                    {
                        <tr>
                            <td>
                                <div>
                                    <strong>@orderDetail?.Product?.Name | @orderDetail?.Product?.Category?.Name</strong>
                                    <br />
                                    <span>Product Name</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <strong>@orderDetail.Quantity</strong>
                                    <br />
                                    <span>Qty</span>
                                </div>
                            </td>
                            <td><span>X</span></td>
                            <td>
                                <div>
                                    <strong>@orderDetail.Product?.Price<span class="price">SAR</span></strong>
                                    <br />
                                    <span>Price</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <strong>@orderDetail.TotalPrice<span class="price">SAR</span></strong>
                                    <br />
                                    <span>SubTotal</span>
                                </div>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
        <span>Creation time: @Model.CreationTime.ToString("dd MMM yyyy")</span><br />
        @if (Model.LastModificationTime is not null)
        {
            <span>Last Modification time: @Model.LastModificationTime?.ToString("dd MMM yyyy")</span>
        }
    </div>
    @{
        var sum = Model.OrderDetailsResponses?.Sum(o => o.Quantity);
    }
    <div class="row mt-4">
        <div class="col-md-12 d-flex justify-content-between pb-2">
            <i>SubTotal(<i>@sum</i> items)</i>
            <span id="summary">@Model.TotalPrice <span>SAR</span></span>
        </div>
        <div class="col-md-12 d-flex justify-content-between pb-2">
            <i>Discount</i>
            <span id="summary">@Model.Invoice?.Discount <span>SAR</span></span>
        </div>
        <div class="col-md-12 d-flex justify-content-between pb-2">
            <strong>Order Total</strong>
            <strong>@Model.Invoice?.NetPrice <span>SAR</span></strong>
        </div>
    </div>
</div>

<div class="card mt-4" style="width: 100%; background-color: white; padding: 20px; border-radius: 10px;">
    <ul class="nav nav-tabs" id="orderTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="item-details-tab" data-toggle="tab" href="#item-details" role="tab" aria-controls="item-details" aria-selected="true" style="color:#ff5722;">Item Details</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="courier-tab" data-toggle="tab" href="#courier" role="tab" aria-controls="courier" aria-selected="false" style="color:#ff5722;">Courier</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="receiver-tab" data-toggle="tab" href="#receiver" role="tab" aria-controls="receiver" aria-selected="false" style="color:#ff5722;">Receiver</a>
        </li>
    </ul>

    <div class="tab-content" id="orderTabContent">
        <div class="tab-pane fade show active" id="item-details" role="tabpanel" aria-labelledby="item-details-tab">
            <table style="width: 100%;">
                <tbody>
                    @if (Model.OrderDetailsResponses is not null)
                    {
                        @foreach (var orderDetail in Model.OrderDetailsResponses)
                        {
                            <tr style="border-bottom: 1px solid #ddd;">
                                <td>
                                    <div>
                                        <strong>@orderDetail?.Product?.Name | @orderDetail?.Product?.Category?.Name</strong>
                                        <br /><small>Product Name</small>
                                    </div>
                                </td>
                                <td>
                                    <div><strong>@orderDetail.Quantity</strong><br /><small>Qty</small></div>
                                </td>
                                <td>
                                    <div>
                                        <strong>@orderDetail.Product?.Price<span class="price"> SAR</span></strong><br /><small>Price</small>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="courier" role="tabpanel" aria-labelledby="courier-tab">
            <table style="width: 100%;">
                <tbody>
                    <tr style="border-bottom: 1px solid #ddd;">
                        <td>
                            <div><strong>@Model.Cashier?.Name </strong> <br /><small>Cashier Name</small></div>
                        </td>
                        <td>
                            <div><strong>@Model.CreationTime </strong> <br /><small>Creation Time</small></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="receiver" role="tabpanel" aria-labelledby="receiver-tab">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td><strong>@Model.Customer?.Name</strong><br /><small>Receiver Name</small></td>
                        <td><strong>@Model.Customer?.LoyaltyPoint</strong><br /><small>Receiver Loyalty Points</small></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



@section orderDetailsScript{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
}

