@model OrderUpdateRequest
@{
    ViewData["title"] = "Edit Order";
}
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
<link href="~/css/EditOrder.css" rel="stylesheet" />

    <div class="card shadow-sm p-4 rounded-3 bg-white" style="max-width: 900px; margin: auto;">
        <h3 class="text-dark mb-4 text-center">Edit Order #@Model.Id</h3>
        @Html.HiddenFor(c => c.Id)
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label fw-bold">Order Status</label>
                @Html.DropDownListFor(c => c.orderStatus,
                Html.GetEnumSelectList<OrderStatus>(),
                "Select Status",
                new { @class = "form-select" })
            </div>

            <h5 class="text-center fw-bold mt-4">Order Details</h5>
            <div class="row mb-3 productsLabels">
                <div class="col">
                    <label for="selectedProducts">Item</label>
                </div>
                <div class="col">
                    <label for="ProductPricePerUnit">Price</label>
                </div>
                <div class="col">
                    <label for="Quantity">Qty</label>
                </div>
                <div class="col">
                    <label for="order_TotalPrice">Total Price</label>
                </div>
                <div class="col">
                </div>
            </div>
            <div id="productRows">

            </div>
            <div class="row mb-3">
                <div class="col">
                    <a id="addItemBtn">
                        <i class='bx bx-plus'></i>
                        Add item
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-between border-top pt-3">
                <h5><strong>Total Amount</strong></h5>
                <strong id="totalAmountDisplay">0.00SAR</strong>
            </div>
        </div>


        <div asp-validation-summary="All" class="text-danger mt-2"></div>

        @if (ViewBag.Errors is not null)
        {
            <div class="text-danger mt-2">
                <ul>
                    @foreach (string error in ViewBag.Errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }

        <div class="mb-1">
            <button type="button" id="Edit" class="btn btn mt-3 w-100" style="background-color: #ff5722; color: white">
                Update Order
             </button>
        </div>
    </div>










<style>
    .productsLabels {
        border-radius: 8px; 
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    .productsLabels .col {
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .productsLabels label {
        margin: 0;
        padding: 5px;
        color: #333; 
        font-weight: 600;
    }
</style>




@section editOrderScript{
<script>
    var createProductInfoUrl = '@Url.Action("GetCreateProductInformation", "Product")';
    var editProductInfoUrl = '@Url.Action("GetEditProductInformation", "Product")';
    var productPriceUrl = '@Url.Action("GetProductPrice", "Product")';
    var orderInfoUrl = '@Url.Action("GetOrderById", "Order")';

    var updateOrderUrl = '@Url.Action("Edit", "Order")';
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.0.1/js/tom-select.complete.js"></script>
<script src="~/js/OrderScripts/EditOrderScript.js" asp-append-version="true"></script>
}


