@model OrderResponse
@{
    Layout = null;
}
<link href="@($"{Context.Request.Scheme}://{Context.Request.Host}/css/InvoicePrint.css")" rel="stylesheet" />

<div class="invoice-container card p-4 mt-4">
    <h2 class="invoice-header">Invoice #@Model.Invoice.Id</h2>
    <div class="card-body">
        <table class="invoice-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Qty</th>
                    <th></th>
                    <th>Price</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.OrderDetailsResponses != null)
                {
                    foreach (var orderDetail in Model.OrderDetailsResponses)
                    {
                        <tr>
                            <td>
                                <strong>@orderDetail?.Product?.Name</strong><br />
                                <small>@orderDetail?.Product?.Category?.Name</small>
                            </td>
                            <td>@orderDetail.Quantity</td>
                            <td>x</td>
                            <td>@orderDetail.Product?.Price <span class="currency">SAR</span></td>
                            <td>@orderDetail.TotalPrice <span class="currency">SAR</span></td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div class="date-info">
            <p>Creation Time: @Model.CreationTime.ToString("dd MMM yyyy")</p>
            @if (Model.LastModificationTime is not null)
            {
                <p>Last Modified: @Model.LastModificationTime?.ToString("dd MMM yyyy")</p>
            }
        </div>

        @{
            var sum = Model.OrderDetailsResponses?.Sum(o => o.Quantity);
        }

        <div class="summary">
            <div><span>SubTotal (@sum items):</span><strong>@Model.TotalPrice SAR</strong></div>
            <div><span>Discount:</span><strong>@Model.Invoice?.Discount SAR</strong></div>
            <div class="total"><span>Total:</span><strong>@Model.Invoice?.NetPrice SAR</strong></div>
        </div>
    </div>
</div>
